<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio_item| %>
	<p><%= portfolio_item.titulo %></p>
	<p><%= portfolio_item.subtitulo %></p>
	<p><%= portfolio_item.cuerpo %></p>
	<%= image_tag portfolio_item.thumb_imagen %>
	
<% end %> 